@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Hide number input spinners (up/down arrows) for all browsers */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield; /* Firefox */
    }
  body {
    @apply bg-[#0D0D0D] text-gray-200 antialiased selection:bg-[#D4AF37] selection:text-black;
    /* Custom scrollbar to keep luxury feel without motion */
  }

  html {
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* No animations by default */
  * {
    transition: none !important;
    animation: none !important;
  }
}

@layer utilities {
  .text-gold {
    color: #D4AF37;
  }
  .bg-gold {
    background-color: #D4AF37;
  }
  .border-gold {
    border-color: #D4AF37;
  }
}
